In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import chain, combinations

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [ ]:
data.describe()

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit']=data['revenue'] - data['budget']
data['release_month']= pd.DatetimeIndex(data['release_date']).month
data['original_title_length'] = data['original_title'].str.len()
data['overview_words'] = data['overview'].str.split().str.len()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data.loc[data['budget'].idxmax()]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [8]:
data.loc[data['runtime'].idxmax()]['original_title']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [10]:
data.loc[data['runtime'].idxmin()]['original_title']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'  # +

In [17]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [18]:
answers['5'] = '1. 107'  # +

In [19]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [23]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [24]:
data.loc[data['profit'].idxmax()]['original_title']

'Avatar'

In [25]:
# 2 вариант
data.loc[data.apply(lambda x:x.revenue - x.budget, axis=1).idxmax()]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [28]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [26]:
data.loc[data['profit'].idxmin()]['original_title']

'The Lone Ranger'

In [27]:
# 2 вариант
data.loc[data.apply(lambda x:x.revenue - x.budget, axis=1).idxmin()]['original_title']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1. 1478' # +

In [30]:
data[data['profit'] > 0]['imdb_id'].count()

1478

In [31]:
# 2 вариант
data.apply(lambda x:x.revenue > x.budget, axis=1).sum()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [36]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [34]:
data.loc[data[data['release_year'] == 2008]['revenue'].idxmax()]['original_title']

'The Dark Knight'

In [35]:
# 2 вариант
data.loc[data.query('release_year == 2008').apply(lambda x:x.revenue - x.budget, axis=1).idxmax()]['original_title']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [39]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [37]:
data.loc[data.query('2014 >= release_year >= 2012')['profit'].idxmin()]['original_title']

'The Lone Ranger'

In [38]:
# 2 вариант
data.loc[data.query('2014 >= release_year >= 2012').apply(lambda x:x.revenue - x.budget, axis=1).idxmin()]['original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [41]:
answers['11'] = '3. Drama'  # +

In [40]:
Counter(sum(data['genres'].str.split('|'), [])).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [44]:
answers['12'] = '1. Drama'  # +

In [42]:
Counter(sum(data[data['profit'] > 0]['genres'].str.split('|'), [])).most_common(1)

[('Drama', 560)]

In [43]:
# 2 вариант
Counter(sum(data[data.apply(lambda x: x.revenue > x.budget , axis=1)]['genres'].str.split('|'), [])).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
answers['13'] = '5. Peter Jackson'  # +

In [45]:
data.groupby(['director'])['revenue'].sum().idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [48]:
answers['14'] = '3. Robert Rodriguez'  # +

In [47]:
Counter(sum(data[data['genres'].str.contains('Action')]['director'].str.split('|'), [])).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
answers['15'] = '3. Chris Hemsworth'  # +

In [33]:
dict_actors_revenue = {} # q15
for i in data.query('release_year == 2012').index: 
    for actor in data.loc[i, 'cast'].split('|'):
        dict_actors_revenue.setdefault(actor, 0) # создаем ключ-имя актера
        dict_actors_revenue[actor] += data.loc[i, 'revenue'] # суммируем сборы связанные с актером

print(max(dict_actors_revenue, key=dict_actors_revenue.get))

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = '3. Matt Damon'  # +

In [51]:
Counter(sum(data[data['budget'] > data['budget'].mean()]['cast'].str.split('|'), [])).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [54]:
answers['17'] = '2. Action'  # +

In [53]:
Counter(sum(data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|'), [])).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [69]:
answers['18'] = '1. K-19: The Widowmaker'  # +

In [68]:
data.loc[data[data['production_companies'].str.contains('Paramount Pictures')]['profit'].idxmin()]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [76]:
answers['19'] = '5. 2015'  # +

In [75]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [78]:
answers['20'] = '1. 2014'  # +

In [77]:
data[data['production_companies'].str.contains('Warner Bros')].groupby( 'release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [79]:
answers['21'] = '4. Сентябрь'  # +

In [80]:
data.groupby(by='release_month')['original_title'].count().idxmax()

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [82]:
answers['22'] = '2. 450'  # +

In [81]:
data['imdb_id'][data['release_month'].isin([6,7,8])].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [83]:
answers['23'] = '5. Peter Jackson'  # +

In [84]:
Counter(sum(data[data['release_month'].isin([12,1,2])]['director'].str.split('|'), [])).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [85]:
answers['24'] = '5. Four By Two Productions'  # +

In [86]:
dict_company_title_len = {} # словарь: ключ-компания, значение-длина названий фильмов, выпущенных компанией
for i in range(len(data)): 
    for company in data.loc[i, 'production_companies'].split('|'):
        dict_company_title_len.setdefault(company, 0) 
        dict_company_title_len[company] += data.loc[i, 'original_title_length']

In [87]:
dict_company_film_number = Counter(sum(data['production_companies'].str.split('|'), [])) # словарь: ключ-компания, значение-кол-во фильмов, выпущенных компанией
df = pd.DataFrame([dict_company_title_len, dict_company_film_number], index=['common_length', 'number']).T # создаем датафрейм из 2-х словарей
df['mean_length'] = df['common_length'] / df['number'] # считаем среднюю длину фильма компании
print(df['mean_length'].idxmax())

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [90]:
answers['25'] = '3. Midnight Picture Show'  # +

In [92]:
dict_company_film_number = Counter(sum(data['production_companies'].str.split('|'), [])) # словарь: ключ-компания, значение-кол-во фильмов, выпущенных компанией
dict_company_overview = {} # словарь: ключ-компания, значение-кол-во слов в описании фильмов, выпущенных компанией
for i in data.index: 
    for company in data.loc[i, 'production_companies'].split('|'):
        dict_company_overview.setdefault(company, 0) 
        dict_company_overview[company] += data.loc[i, 'overview_words']

In [93]:
df = pd.DataFrame([dict_company_film_number, dict_company_overview], index=['number', 'overview_words']).T # создаем датафрейм из 2-х словарей
df['mean_length'] = df['overview_words'] / df['number'] # считаем среднее кол-во слов в описании  фильмов компании
print(df['mean_length'].idxmax())

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [91]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'  # +

In [88]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)].sort_values(by='vote_average', ascending=False)[['original_title', 'vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [92]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'  # +

In [99]:
list_couple_of_actors = [] # список пар актеров всего датафрейма

for i in data.index:
    list_actors = []  # список актеров одного фильма
    for actor in data.loc[i, 'cast'].split('|'):
        list_actors.append(actor)
    couple_of_actors = list(combinations(list_actors, 2))# создаем список пар актеров одного фильма
    list_couple_of_actors.append(couple_of_actors)


dict_couple_of_actors = Counter(chain(*list_couple_of_actors)) # подсчитаем повторения кортежей
# выведем пары с максимальным количеством повторений
print(max(dict_couple_of_actors, key=dict_couple_of_actors.get))

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [93]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [94]:
# и убедиться что ни чего не пропустил)
len(answers)

27